<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://cdn.kesci.com/lib/pyecharts_assets/echarts.min.js"></script>
            <script type="text/javascript" src="https://cdn.kesci.com/lib/pyecharts_assets/echarts-gl.min.js"></script>

</head>
<body >
    <div id="d2a8b890addb494a8fc3af594068ec49" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_d2a8b890addb494a8fc3af594068ec49 = echarts.init(
            document.getElementById('d2a8b890addb494a8fc3af594068ec49'), 'white', {renderer: 'canvas'});
        var option_d2a8b890addb494a8fc3af594068ec49 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "scatter3D",
            "name": "\u6570\u636e",
            "data": [
                [
                    5,
                    61,
                    33
                ],
                [
                    7,
                    10,
                    75
                ],
                [
                    31,
                    70,
                    60
                ],
                [
                    1,
                    35,
                    93
                ],
                [
                    31,
                    33,
                    27
                ],
                [
                    19,
                    13,
                    64
                ],
                [
                    59,
                    100,
                    26
                ],
                [
                    66,
                    32,
                    4
                ],
                [
                    22,
                    88,
                    16
                ],
                [
                    28,
                    3,
                    70
                ],
                [
                    4,
                    82,
                    6
                ],
                [
                    5,
                    86,
                    68
                ],
                [
                    1,
                    34,
                    18
                ],
                [
                    33,
                    14,
                    31
                ],
                [
                    30,
                    14,
                    2
                ],
                [
                    40,
                    99,
                    31
                ],
                [
                    57,
                    59,
                    77
                ],
                [
                    70,
                    1,
                    47
                ],
                [
                    44,
                    35,
                    18
                ],
                [
                    52,
                    41,
                    83
                ],
                [
                    42,
                    100,
                    52
                ],
                [
                    79,
                    79,
                    90
                ],
                [
                    73,
                    50,
                    28
                ],
                [
                    83,
                    83,
                    72
                ],
                [
                    65,
                    0,
                    2
                ],
                [
                    100,
                    78,
                    22
                ],
                [
                    9,
                    92,
                    6
                ],
                [
                    78,
                    29,
                    6
                ],
                [
                    82,
                    56,
                    25
                ],
                [
                    32,
                    51,
                    18
                ],
                [
                    66,
                    1,
                    4
                ],
                [
                    80,
                    50,
                    99
                ],
                [
                    50,
                    84,
                    74
                ],
                [
                    85,
                    96,
                    16
                ],
                [
                    11,
                    19,
                    57
                ],
                [
                    6,
                    45,
                    34
                ],
                [
                    56,
                    3,
                    53
                ],
                [
                    2,
                    47,
                    3
                ],
                [
                    36,
                    90,
                    5
                ],
                [
                    22,
                    69,
                    98
                ],
                [
                    69,
                    97,
                    93
                ],
                [
                    65,
                    38,
                    85
                ],
                [
                    47,
                    46,
                    12
                ],
                [
                    8,
                    6,
                    82
                ],
                [
                    65,
                    83,
                    37
                ],
                [
                    90,
                    49,
                    52
                ],
                [
                    10,
                    81,
                    58
                ],
                [
                    68,
                    83,
                    70
                ],
                [
                    44,
                    52,
                    69
                ],
                [
                    46,
                    95,
                    53
                ]
            ],
            "label": {
                "show": false,
                "margin": 8
            },
            "grid3DIndex": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u6570\u636e"
            ],
            "selected": {}
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis3D": {
        "name": "X",
        "show": true,
        "scale": false,
        "grid3DIndex": 0,
        "nameGap": 20,
        "logBase": 10,
        "type": "value",
        "splitLine": {
            "show": true,
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            }
        }
    },
    "yAxis3D": {
        "name": "Y",
        "show": true,
        "scale": false,
        "grid3DIndex": 0,
        "nameGap": 20,
        "logBase": 10,
        "type": "value",
        "splitLine": {
            "show": true,
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            }
        }
    },
    "zAxis3D": {
        "name": "Z",
        "show": true,
        "scale": false,
        "grid3DIndex": 0,
        "nameGap": 20,
        "logBase": 10,
        "type": "value",
        "splitLine": {
            "show": true,
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            }
        }
    },
    "grid3D": {
        "boxWidth": 200,
        "boxHeight": 100,
        "boxDepth": 80,
        "splitLine": {
            "show": true,
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            }
        },
        "environment": "auto",
        "viewControl": {
            "autoRotate": false,
            "autoRotateSpeed": 10,
            "rotateSensitivity": 1,
            "alpha": 20,
            "beta": 40,
            "minAlpha": -90,
            "maxAlpha": 90
        },
        "zlevel": -10,
        "left": "auto",
        "top": "auto",
        "right": "auto",
        "bottom": "auto"
    }
};
        chart_d2a8b890addb494a8fc3af594068ec49.setOption(option_d2a8b890addb494a8fc3af594068ec49);
    </script>
</body>
</html>
