<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://cdn.kesci.com/lib/pyecharts_assets/echarts.min.js"></script>
            <script type="text/javascript" src="https://cdn.kesci.com/lib/pyecharts_assets/echarts-gl.min.js"></script>

</head>
<body >
    <div id="d57d349b686e4b568ba4b4570c5cf762" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_d57d349b686e4b568ba4b4570c5cf762 = echarts.init(
            document.getElementById('d57d349b686e4b568ba4b4570c5cf762'), 'white', {renderer: 'canvas'});
        var option_d57d349b686e4b568ba4b4570c5cf762 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line3D",
            "name": "\u6570\u636e",
            "data": [
                [
                    12,
                    17,
                    21
                ],
                [
                    20,
                    14,
                    31
                ],
                [
                    32,
                    47,
                    11
                ]
            ],
            "label": {
                "show": false,
                "margin": 8
            },
            "grid3DIndex": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u6570\u636e"
            ],
            "selected": {}
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis3D": {
        "show": true,
        "scale": false,
        "grid3DIndex": 0,
        "nameGap": 20,
        "logBase": 10,
        "type": "value",
        "splitLine": {
            "show": true,
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            }
        }
    },
    "yAxis3D": {
        "show": true,
        "scale": false,
        "grid3DIndex": 0,
        "nameGap": 20,
        "logBase": 10,
        "type": "value",
        "splitLine": {
            "show": true,
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            }
        }
    },
    "zAxis3D": {
        "name": "Z",
        "show": true,
        "scale": false,
        "grid3DIndex": 0,
        "nameGap": 20,
        "logBase": 10,
        "type": "value",
        "splitLine": {
            "show": true,
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            }
        }
    },
    "grid3D": {
        "boxWidth": 200,
        "boxHeight": 100,
        "boxDepth": 80,
        "splitLine": {
            "show": true,
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            }
        },
        "environment": "auto",
        "viewControl": {
            "autoRotate": false,
            "autoRotateSpeed": 10,
            "rotateSensitivity": 1,
            "alpha": 20,
            "beta": 40,
            "minAlpha": -90,
            "maxAlpha": 90
        },
        "zlevel": -10,
        "left": "auto",
        "top": "auto",
        "right": "auto",
        "bottom": "auto"
    }
};
        chart_d57d349b686e4b568ba4b4570c5cf762.setOption(option_d57d349b686e4b568ba4b4570c5cf762);
    </script>
</body>
</html>
