<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://cdn.kesci.com/lib/pyecharts_assets/echarts.min.js"></script>
            <script type="text/javascript" src="https://cdn.kesci.com/lib/pyecharts_assets/maps/china.js"></script>

</head>
<body >
    <div id="25315bde8c754a9da1309e983ffa4d73" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_25315bde8c754a9da1309e983ffa4d73 = echarts.init(
            document.getElementById('25315bde8c754a9da1309e983ffa4d73'), 'white', {renderer: 'canvas'});
        var option_25315bde8c754a9da1309e983ffa4d73 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u6570\u636e",
            "label": {
                "show": true,
                "margin": 8
            },
            "map": "china",
            "data": [
                {
                    "name": "\u5e7f\u4e1c",
                    "value": 118
                },
                {
                    "name": "\u6e56\u5317",
                    "value": 97
                },
                {
                    "name": "\u6e56\u5357",
                    "value": 126
                },
                {
                    "name": "\u56db\u5ddd",
                    "value": 107
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": 66
                },
                {
                    "name": "\u9ed1\u9f99\u6c5f",
                    "value": 76
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": 88
                },
                {
                    "name": "\u5c71\u897f",
                    "value": 123
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": 79
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": 93
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": 61
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": 97
                },
                {
                    "name": "\u897f\u85cf",
                    "value": 131
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "zlevel": 0,
            "z": 2,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                "\u6570\u636e"
            ],
            "selected": {}
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    }
};
        chart_25315bde8c754a9da1309e983ffa4d73.setOption(option_25315bde8c754a9da1309e983ffa4d73);
    </script>
</body>
</html>
