<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://cdn.kesci.com/lib/pyecharts_assets/echarts.min.js"></script>
            <script type="text/javascript" src="https://cdn.kesci.com/lib/pyecharts_assets/maps/china.js"></script>

</head>
<body >
    <div id="50422f939f454affbd6e6045f1c23b28" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_50422f939f454affbd6e6045f1c23b28 = echarts.init(
            document.getElementById('50422f939f454affbd6e6045f1c23b28'), 'white', {renderer: 'canvas'});
        var option_50422f939f454affbd6e6045f1c23b28 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u6570\u636e",
            "coordinateSystem": "geo",
            "symbolSize": 12,
            "data": [
                {
                    "name": "\u5c71\u897f",
                    "value": [
                        112.562398,
                        37.873531,
                        99
                    ]
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": [
                        114.468664,
                        38.037057,
                        71
                    ]
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": [
                        117.284922,
                        31.861184,
                        117
                    ]
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": [
                        113.753602,
                        34.765515,
                        88
                    ]
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": [
                        117.020359,
                        36.66853,
                        64
                    ]
                },
                {
                    "name": "\u897f\u85cf",
                    "value": [
                        91.117212,
                        29.646922,
                        142
                    ]
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "\u6570\u636e"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "geo": {
        "map": "china",
        "roam": true,
        "aspectScale": 0.75,
        "nameProperty": "name",
        "selectedMode": false,
        "emphasis": {}
    }
};
        chart_50422f939f454affbd6e6045f1c23b28.setOption(option_50422f939f454affbd6e6045f1c23b28);
    </script>
</body>
</html>
