<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://cdn.kesci.com/lib/pyecharts_assets/echarts.min.js"></script>

</head>
<body >
    <div id="b3f100ec98064c389479f9a78b401540" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_b3f100ec98064c389479f9a78b401540 = echarts.init(
            document.getElementById('b3f100ec98064c389479f9a78b401540'), 'white', {renderer: 'canvas'});
        var option_b3f100ec98064c389479f9a78b401540 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "gauge",
            "title": {
                "show": true,
                "offsetCenter": [
                    "0%",
                    "20%"
                ],
                "color": "#333",
                "fontStyle": "normal",
                "fontWeight": "normal",
                "fontFamily": "sans-serif",
                "fontSize": 15,
                "backgroundColor": "transparent",
                "borderColor": "transparent",
                "borderWidth": 0,
                "borderRadius": 0,
                "padding": 0,
                "shadowColor": "transparent",
                "shadowBlur": 0,
                "shadowOffsetX": 0,
                "shadowOffsetY": 0,
                "overflow": "none",
                "valueAnimation": true
            },
            "detail": {
                "show": true,
                "backgroundColor": "transparent",
                "borderWidth": 0,
                "borderColor": "transparent",
                "offsetCenter": [
                    "0%",
                    "40%"
                ],
                "formatter": "{value}%",
                "color": "#464646",
                "fontStyle": "normal",
                "fontWeight": "normal",
                "fontFamily": "sans-serif",
                "fontSize": 15,
                "borderRadius": 0,
                "padding": 0,
                "shadowColor": "transparent",
                "shadowBlur": 0,
                "shadowOffsetX": 0,
                "shadowOffsetY": 0,
                "overflow": "none",
                "valueAnimation": true
            },
            "name": "\u6570\u636e",
            "min": 0,
            "max": 100,
            "splitNumber": 10,
            "center": [
                "50%",
                "50%"
            ],
            "radius": "75%",
            "startAngle": 225,
            "endAngle": -45,
            "clockwise": true,
            "data": [
                {
                    "name": "\u8f6c\u5316\u7387",
                    "value": 56
                },
                {
                    "name": "\u7ed3\u5408\u7387",
                    "value": 42
                }
            ],
            "progress": {
                "show": false,
                "overlap": true,
                "width": 10,
                "roundCap": false,
                "clip": false
            },
            "anchor": {
                "show": true,
                "showAbove": false,
                "size": 6,
                "icon": "circle",
                "offsetCenter": [
                    0,
                    0
                ],
                "keepAspect": false
            },
            "pointer": {
                "show": true,
                "length": "80%",
                "width": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6570\u636e"
            ],
            "selected": {}
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    }
};
        chart_b3f100ec98064c389479f9a78b401540.setOption(option_b3f100ec98064c389479f9a78b401540);
    </script>
</body>
</html>
